.textcontainertwo{
    flex: 1;
    margin: 0px 14em;
    color: white;
}
.textcontainertwo h1{
    font-size: 4em;
    color: orange;
    
}
.textcontainertwo p {
    font-size: 0.98em;
    color: rgb(169 169 169);
}