.bar{
    text-decoration: none;
    display:flex;
    list-style-type: none;
    position: relative;
    align-self: flex-end;
    margin-top: 3em;
    

}
.bar li{
    margin-right: 5em;
    color: lightgrey;
}
.contactus{
    margin-left: 10em;
    color: white;
    border: solid ;
    padding: 1em;
    margin-top: -0.7em;
    border-radius: 0.5em;
    border-color: lightgray;
    padding: 0.7em 2em;
}
.Home a{
    color: lightgrey;
    text-decoration: none;

}
.About a{
    color: lightgrey;
    text-decoration: none;

}
.Partnership a{
    color: lightgrey;
    text-decoration: none;

}
.Product a{
    color: lightgrey;
    text-decoration: none;

}
.contactus a{
    color: lightgrey;
    text-decoration: none;

}